section.classes
  h2 Our Classes
  // Add class details here
  .class
    h3 Ballet
    p Learn the art of ballet with our experienced instructors.
    img(src='/images/class1.jpg', alt='Ballet Class')

  .class
    h3 Hip Hop
    p Get into the groove with our energetic hip hop classes.
    img(src='/images/class2.jpg', alt='Hip Hop Class')
