footer
  .container
    .row
      .col-md-6
        p &copy; 2024 Dance Class. All rights reserved.
      .col-md-6.text-right
        ul.list-inline
          li.list-inline-item
            a(href='https://www.facebook.com') Facebook
          li.list-inline-item
            a(href='https://www.twitter.com') Twitter
          li.list-inline-item
            a(href='https://www.instagram.com') Instagram
