section.gallery
  h2 Photo Gallery
  .gallery-container
    each image in ['gallery1.jpg', 'gallery2.jpg', 'gallery3.jpg', 'gallery4.jpg']
      img(src=`/images/gallery/${image}`, alt='Gallery Image')
