extends layouts/layout

block content
  h1 About Us
  p Welcome to our dance class website. We offer a range of dance classes for all levels. Our experienced instructors are here to help you reach your dance goals.
