extends layout

block content
  .container.mt-4
    // About Section
    .row
      .col-md-12
        h1.text-center About Us
        p.text-center We are dedicated to providing exceptional dance education and experiences. Our team of expert instructors is here to help you achieve your dance goals.

    .row.mt-4
      .col-md-6
        h2.text-center Our Mission
        p Our mission is to inspire and nurture dancers of all ages and skill levels. We strive to create a positive and inclusive environment where everyone can express themselves through dance.

      .col-md-6
        h2.text-center Our Team
        p Meet our talented instructors who are passionate about dance and committed to helping you excel. Each instructor brings a unique style and expertise to our academy.

    .row.mt-4
      .col-md-12
        h2.text-center Our Story
        p Feel Dance Academy was founded with the vision of creating a space where dance enthusiasts could come together to learn, grow, and enjoy the art of dance. Our academy has been a hub for dance lovers, offering a wide range of classes and events.

    .row.mt-4
      .col-md-12.text-center
        h3 Meet the Team
        // Team Member Cards
        .row.mt-4
          .col-md-4
            .card.shadow-sm
              img.card-img-top(src='/images/instructor1.jpeg', alt='Instructor 1')
              .card-body
                h5.card-title Sagar Bora
                p.card-text Hip-Hop Dancer
          .col-md-4
            .card.shadow-sm
              img.card-img-top(src='/images/instructor2.jpeg', alt='Instructor 2')
              .card-body
                h5.card-title Suresh Mukund
                p.card-text Krump Dancer
          .col-md-4
            .card.shadow-sm
              img.card-img-top(src='/images/instructor3.jpeg', alt='Instructor 3')
              .card-body
                h5.card-title Vertika Jha
                p.card-text Popping Dancer
