extends layout

block content
  h1.text-center Welcome to Dance Class
  p.text-center Learn to dance with our expert instructors!
  include partials/carousel.pug

  h2.text-center.mt-4 Nearby Dance Classes
  p.text-center Find nearby dance classes using the map below.
  include partials/map.pug
